<h1>Home template</h1>
<h4>Hello, <%= username %>!</h4>
<p>You can change this text in views/home.erb</p>
<p>Use this document as a way to quick start any new project.
<br>All you get is this message and a barebones HTML document.</p>
