<form action='/login/attempt' method='post' class="form-inline well">
  <p><input type="text" name='username' placeholder="username" autofocus></p>
  <p><input type="password" name='password' placeholder="password" autofocus></p>
  <input class="btn btn-success" type='submit' value='log in'>
</form>
